set daemon 300
set syslog 

poll {{ mail_host }} localdomains {{ mailman_domain }} with proto IMAP
  envelope Delivered-To
  user '{{ mail_account }}' there with password '{{ mail_password }}'
  to * here
  idle fetchall ssl
